@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center my-5">
    <div class="text-black py-5">
        <h1 class="display-4">ELETRÔNICOS RUIZ</h1>
    </div>

    <h2 class="mt-5">Nossos Produtos em Destaque</h2>
    <div class="row mt-4">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="produto1.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">LAPTOPS</h5>
                    <p class="card-text">Descrição breve do produto 1.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="produto2.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">SMARTPHONES</h5>
                    <p class="card-text">Descrição breve do produto 2.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="produto3.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">TABLETS</h5>
                    <p class="card-text">Descrição breve do produto 3.</p>
                </div>
            </div>
        </div>
       
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="produto4.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">TELEVISORES</h5>
                    <p class="card-text">Descrição breve do produto 4.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="produto5.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">CÂMERAS DIGITAIS</h5>
                    <p class="card-text">Descrição breve do produto 5.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="produto6.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">FONES DE OUVIDO</h5>
                    <p class="card-text">Descrição breve do produto 6.</p>
                </div>
            </div>
        </div>
    </div>
</div>
